html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: peru;
}
.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: plum;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba (0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);;
}
header {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #ebebed;
    font-family: Allerta Stencil;
    color: peachpuff;
}
.quotes {
    padding: 20px 50px;
    min-height: 200px;
}
.quotetext {
    padding-bottom: 20px;
    font-size: 25px;
    color: peru;
    font-family: Allerta Stencil;
}
.controls {
    width: 100%;
    padding: 20px 50px;
}
button {
    font-family: Allerta Stencil;
    background-color: rosybrown;
    color: peachpuff;
    display: block;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.new-quote {
    background-color: rosybrown;
    margin-bottom: 15px;
}
.new-quote:hover {
    background-color: sandybrown;
}
@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
